[Unit]
Description=Recetas - Full backup service
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/home/admin/api-recetas
ExecStart=/bin/bash /home/admin/api-recetas/scripts/backup_full.sh /home/admin/api-recetas/backups
User=admin
Group=admin

[Install]
WantedBy=multi-user.target
